wf3-sentiment-analysis.json
{
  "name": "WF3 - Sentiment Analysis with Intelligent Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentiment-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        352
      ],
      "webhookId": "sentiment-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"llama-3.3-70b-versatile\", \"max_tokens\": 10, \"messages\": [{\"role\": \"system\", \"content\": \"You are a sentiment classifier. Respond with exactly one word: Positive, Negative, or Neutral.\"}, {\"role\": \"user\", \"content\": {{ JSON.stringify($json.body.text) }}}] }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "groq-http-sentiment",
      "name": "HTTP Request - Groq Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GROQ_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "sentiment",
              "value": "={{ $json.choices[0].message.content.trim().replace(/[^a-zA-Z]/g, '') }}",
              "type": "string"
            },
            {
              "name": "original_text",
              "value": "={{ $('Webhook').item.json.body.text }}",
              "type": "string"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-3",
      "name": "Set Node \u00e2\u20ac\u201d Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        688,
        352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sentiment }}",
                    "rightValue": "Positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sentiment }}",
                    "rightValue": "Negative",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sentiment }}",
                    "rightValue": "Neutral",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-4",
      "name": "Switch Node \u00e2\u20ac\u201d Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1136,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tag\": \"positive-sentiment\",\n  \"text\": \"{{ $json.original_text }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "node-5",
      "name": "HTTP POST \u00e2\u20ac\u201d CRM Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1360,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\ud83d\udea8 Negative sentiment detected!\n\nText: {{ $json.text }}\nTime: {{ $json.created_at }}\n\nPlease review and respond.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-6",
      "name": "Telegram \u00e2\u20ac\u201d Negative Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        352
      ],
      "webhookId": "4fd68272-d241-415e-8a37-a2d47e9b889e",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.sentiment_log (text, sentiment, created_at)\nVALUES ($1, $2, $3::timestamptz)\nRETURNING id, sentiment, text, created_at;",
        "options": {
          "queryReplacement": "={{ [$json.original_text, $json.sentiment, $json.timestamp] }}"
        }
      },
      "id": "node-7",
      "name": "PostgreSQL \u00e2\u20ac\u201d DB Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        912,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"processed\",\"sentiment\":\"{{ $json.sentiment }}\",\"timestamp\":\"{{ $json.created_at }}\"}",
        "options": {}
      },
      "id": "node-8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1584,
        352
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - Groq Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Groq Sentiment": {
      "main": [
        [
          {
            "node": "Set Node \u00e2\u20ac\u201d Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Node \u00e2\u20ac\u201d Prepare Data": {
      "main": [
        [
          {
            "node": "PostgreSQL \u00e2\u20ac\u201d DB Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL \u00e2\u20ac\u201d DB Log": {
      "main": [
        [
          {
            "node": "Switch Node \u00e2\u20ac\u201d Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Node \u00e2\u20ac\u201d Route": {
      "main": [
        [
          {
            "node": "HTTP POST \u00e2\u20ac\u201d CRM Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram \u00e2\u20ac\u201d Negative Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP POST \u00e2\u20ac\u201d CRM Tag": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram \u00e2\u20ac\u201d Negative Alert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null
}