wf5-research-data.json
{
  "updatedAt": "2026-03-28T00:54:43.056Z",
  "createdAt": "2026-03-25T09:08:42.416Z",
  "id": "YOUR_WF5_WORKFLOW_ID",
  "name": "WF5 - Research Data Collection (Production Pipeline)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "node-1",
      "name": "Schedule - Daily 6 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.totalResults }}",
              "rightValue": "={{ ($json.offset || 0) + 100 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-4",
      "name": "More pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "offset",
              "value": "={{ ($json.offset || 0) + 100 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-5",
      "name": "Set - offset +100",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        688,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://export.arxiv.org/api/query?search_query=cat:cs.AI&start={{ $json.offset || 0 }}&max_results=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "ResearchBot/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "node-2",
      "name": "HTTP Request - arXiv API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1024,
        128
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const body = item.json.data || \"\";\n  const entries = body.match(/<entry>[\\s\\S]*?<\\/entry>/g) || [];\n  for (const entry of entries) {\n    const id = (entry.match(/<id>(.*?)<\\/id>/) || [])[1] || \"\";\n    const title = (entry.match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1] || \"\";\n    const summary = (entry.match(/<summary>([\\s\\S]*?)<\\/summary>/) || [])[1] || \"\";\n    const published = (entry.match(/<published>(.*?)<\\/published>/) || [])[1] || \"\";\n    const authors = [...entry.matchAll(/<name>(.*?)<\\/name>/g)].map(m => m[1]).join(\", \");\n    results.push({json: {paper_id: id.split(\"/abs/\").pop() || id,\n      title: title.trim().replace(/\\s+/g, \" \"),\n      abstract: summary.trim().replace(/\\s+/g, \" \"),\n      authors, published_date: published, source: \"arxiv\", url: id.trim()}});\n  }\n}\nreturn results;"
      },
      "id": "node-3",
      "name": "Code Node - Parse arXiv",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        128
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.semanticscholar.org/graph/v1/paper/search?query=artificial+intelligence&fields=paperId,title,abstract,authors,year,externalIds&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key"
            }
          ]
        },
        "options": {}
      },
      "id": "node-6",
      "name": "HTTP Request - Semantic Scholar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        416
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const papers = item.json.data || [];\n  for (const paper of papers) {\n    results.push({json: {paper_id: paper.paperId || \"\",\n      title: paper.title || \"\", abstract: paper.abstract || \"\",\n      authors: (paper.authors || []).map(a => a.name).join(\", \"),\n      published_date: paper.year ? String(paper.year) + \"-01-01\" : \"\",\n      source: \"semantic_scholar\",\n      url: \"https://www.semanticscholar.org/paper/\" + paper.paperId}});\n  }\n}\nreturn results;"
      },
      "id": "node-7",
      "name": "Code Node - Parse Semantic Scholar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        416
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&term=artificial+intelligence&retmax=100&retmode=json",
        "options": {}
      },
      "id": "node-8",
      "name": "HTTP Request - PubMed API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        608
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const ids = (item.json.esearchresult || {}).idlist || [];\n  for (const pmid of ids) {\n    results.push({json: {paper_id: \"pubmed_\" + pmid,\n      title: \"\", abstract: \"\", authors: \"\", published_date: \"\",\n      source: \"pubmed\",\n      url: \"https://pubmed.ncbi.nlm.nih.gov/\" + pmid + \"/\", pmid}});\n  }\n}\nreturn results;"
      },
      "id": "node-9",
      "name": "Code Node - Parse PubMed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        608
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "node-10",
      "name": "Merge Node - Combine all sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1360,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst seen = new Set();\nconst unique = [];\nfor (const item of items) {\n  const key = item.json.paper_id || (item.json.title || \"\").toLowerCase().trim();\n  if (key && !seen.has(key)) { seen.add(key); unique.push(item); }\n}\nreturn unique;"
      },
      "id": "node-11",
      "name": "Code Node - Deduplicate by ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS public.research_papers (paper_id TEXT PRIMARY KEY, title TEXT, abstract TEXT, authors TEXT, published_date TEXT, source TEXT, url TEXT, created_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS public.paper_embeddings (paper_id TEXT PRIMARY KEY, embedding TEXT, created_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS public.collection_watermark (id SERIAL PRIMARY KEY, last_run TIMESTAMPTZ, last_paper_id TEXT);\nINSERT INTO public.collection_watermark (last_run, last_paper_id) SELECT NOW(), NULL WHERE NOT EXISTS (SELECT 1 FROM public.collection_watermark);\nINSERT INTO public.research_papers (paper_id, title, abstract, authors, published_date, source, url, created_at) VALUES ($1, $2, $3, $4, $5, $6, $7, NOW()) ON CONFLICT (paper_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [$json.paper_id, $json.title, $json.abstract, $json.authors, $json.published_date, $json.source, $json.url] }}"
        }
      },
      "id": "node-12",
      "name": "PostgreSQL - Upsert ON CONFLICT",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1808,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({json: {\n  paper_id: item.json.paper_id,\n  title: item.json.title,\n  abstract: item.json.abstract,\n  embed_input: (\"Title: \" + item.json.title + \"\\n\\nAbstract: \" + item.json.abstract).substring(0, 8000)\n}}));"
      },
      "id": "node-13",
      "name": "Code Node - Build Embed payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.jina.ai/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_JINA_API_KEY-ZCL3e9R_15V0v8XCJFtLpA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"jina-embeddings-v3\", \"input\": {{ JSON.stringify(Array.isArray($json.embed_input) ? $json.embed_input : [$json.embed_input]) }}, \"dimensions\": 512 }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "node-14",
      "name": "HTTP Request - Embed abstracts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2256,
        256
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.paper_embeddings (paper_id, embedding, created_at) VALUES ($1, $2, NOW()) ON CONFLICT (paper_id) DO UPDATE SET embedding = EXCLUDED.embedding;",
        "options": {
          "queryReplacement": "=={{ [$('Code Node - Build Embed payload').item.json.paper_id, JSON.stringify($json.data[0].embedding)] }}\n"
        }
      },
      "id": "node-15",
      "name": "PostgreSQL - Store vector embedding",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2480,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.collection_watermark SET last_run = NOW(), last_paper_id = $1 WHERE id = 1;",
        "options": {
          "queryReplacement": "={{ [$('Code Node - Deduplicate by ID').last().json.paper_id] }}"
        }
      },
      "id": "node-16",
      "name": "PostgreSQL - Update watermark",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2032,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allPapers = $('Code Node - Deduplicate by ID').all();\nconst count = allPapers.length;\n\nconst topPapers = allPapers.slice(0, 5).map((p, i) => {\n  const title    = (p.json.title    || '(no title)').substring(0, 100);\n  const source   =  p.json.source   || '?';\n  const date     = (p.json.published_date || 'n/a').substring(0, 10);\n  const abstract = (p.json.abstract || '').trim().substring(0, 120);\n  const snippet  = abstract ? abstract + '...' : '';\n  const url      =  p.json.url || '';\n  return `${i+1}. *${title}*\n   ${source} | ${date}\n   ${snippet}\n   ${url}`.trim();\n}).join('\\n\\n');\n\n\nconst digest = `Daily Research Digest - ${new Date().toDateString()}\n\nPapers collected: ${count}\n\nTop picks:\n\n${topPapers}\n\nSources: arXiv, Semantic Scholar, PubMed`;\n\nreturn [{json: {count, digest}}];"
      },
      "id": "node-17",
      "name": "Set Node - Build digest message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        256
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $('Set Node - Build digest message').item.json.digest }}",
        "additionalFields": {}
      },
      "id": "node-18",
      "name": "Telegram - Daily digest notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2928,
        256
      ],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-19",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        832
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=Research pipeline FAILED!\nWorkflow: {{ $json.workflow.name }}\nError: {{ $json.error.message }}\nNode: {{ $json.error.node }}\nTime: {{ $now }}",
        "additionalFields": {}
      },
      "id": "node-20",
      "name": "Telegram - Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        832
      ],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "wait-arxiv",
      "name": "Wait - arXiv rate limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        128
      ],
      "webhookId": "arxiv-wait"
    }
  ],
  "connections": {
    "Schedule - Daily 6 AM": {
      "main": [
        [
          {
            "node": "More pages?",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Semantic Scholar",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - PubMed API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More pages?": {
      "main": [
        [
          {
            "node": "Set - offset +100",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Node - Combine all sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - offset +100": {
      "main": [
        [
          {
            "node": "Wait - arXiv rate limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - arXiv API": {
      "main": [
        [
          {
            "node": "Code Node - Parse arXiv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node - Parse arXiv": {
      "main": [
        [
          {
            "node": "Merge Node - Combine all sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Semantic Scholar": {
      "main": [
        [
          {
            "node": "Code Node - Parse Semantic Scholar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node - Parse Semantic Scholar": {
      "main": [
        [
          {
            "node": "Merge Node - Combine all sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request - PubMed API": {
      "main": [
        [
          {
            "node": "Code Node - Parse PubMed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node - Parse PubMed": {
      "main": [
        [
          {
            "node": "Merge Node - Combine all sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Node - Combine all sources": {
      "main": [
        [
          {
            "node": "Code Node - Deduplicate by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node - Deduplicate by ID": {
      "main": [
        [
          {
            "node": "PostgreSQL - Upsert ON CONFLICT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Upsert ON CONFLICT": {
      "main": [
        [
          {
            "node": "Code Node - Build Embed payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "PostgreSQL - Update watermark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node - Build Embed payload": {
      "main": [
        [
          {
            "node": "HTTP Request - Embed abstracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Embed abstracts": {
      "main": [
        [
          {
            "node": "PostgreSQL - Store vector embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Store vector embedding": {
      "main": [
        [
          {
            "node": "Set Node - Build digest message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Node - Build digest message": {
      "main": [
        [
          {
            "node": "Telegram - Daily digest notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Telegram - Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - arXiv rate limit": {
      "main": [
        [
          {
            "node": "HTTP Request - arXiv API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed"
  },
  "staticData": {
    "node:Schedule - Daily 6 AM": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "8bf611c7-759b-4442-8101-ae76affa1ba6",
  "activeVersionId": "bd0226d6-66fc-41ed-83fc-1e45e467d478",
  "versionCounter": 121,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-26T06:51:23.914Z",
      "createdAt": "2026-03-26T06:51:23.914Z",
      "role": "workflow:owner",
      "workflowId": "YOUR_WF5_WORKFLOW_ID",
      "projectId": "YOUR_N8N_PROJECT_ID",
      "project": {
        "updatedAt": "2025-11-16T01:32:20.279Z",
        "createdAt": "2025-11-16T01:32:20.279Z",
        "id": "YOUR_N8N_PROJECT_ID",
        "name": "My project",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": null,
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T00:44:39.314Z",
    "createdAt": "2026-03-28T00:44:39.314Z",
    "versionId": "bd0226d6-66fc-41ed-83fc-1e45e467d478",
    "workflowId": "YOUR_WF5_WORKFLOW_ID",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * *"
              }
            ]
          }
        },
        "id": "node-1",
        "name": "Schedule - Daily 6 AM",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          416
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false
            },
            "conditions": [
              {
                "leftValue": "={{ $json.totalResults }}",
                "rightValue": "={{ ($json.offset || 0) + 100 }}",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "node-4",
        "name": "More pages?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          464,
          208
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "offset",
                "value": "={{ ($json.offset || 0) + 100 }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "node-5",
        "name": "Set - offset +100",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          688,
          128
        ]
      },
      {
        "parameters": {
          "url": "=https://export.arxiv.org/api/query?search_query=cat:cs.AI&start={{ $json.offset || 0 }}&max_results=100",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "ResearchBot/1.0"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "id": "node-2",
        "name": "HTTP Request - arXiv API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1020,
          128
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const body = item.json.data || \"\";\n  const entries = body.match(/<entry>[\\s\\S]*?<\\/entry>/g) || [];\n  for (const entry of entries) {\n    const id = (entry.match(/<id>(.*?)<\\/id>/) || [])[1] || \"\";\n    const title = (entry.match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1] || \"\";\n    const summary = (entry.match(/<summary>([\\s\\S]*?)<\\/summary>/) || [])[1] || \"\";\n    const published = (entry.match(/<published>(.*?)<\\/published>/) || [])[1] || \"\";\n    const authors = [...entry.matchAll(/<name>(.*?)<\\/name>/g)].map(m => m[1]).join(\", \");\n    results.push({json: {paper_id: id.split(\"/abs/\").pop() || id,\n      title: title.trim().replace(/\\s+/g, \" \"),\n      abstract: summary.trim().replace(/\\s+/g, \" \"),\n      authors, published_date: published, source: \"arxiv\", url: id.trim()}});\n  }\n}\nreturn results;"
        },
        "id": "node-3",
        "name": "Code Node - Parse arXiv",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          128
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "https://api.semanticscholar.org/graph/v1/paper/search?query=artificial+intelligence&fields=paperId,title,abstract,authors,year,externalIds&limit=100",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key"
              }
            ]
          },
          "options": {}
        },
        "id": "node-6",
        "name": "HTTP Request - Semantic Scholar",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          912,
          416
        ],
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const papers = item.json.data || [];\n  for (const paper of papers) {\n    results.push({json: {paper_id: paper.paperId || \"\",\n      title: paper.title || \"\", abstract: paper.abstract || \"\",\n      authors: (paper.authors || []).map(a => a.name).join(\", \"),\n      published_date: paper.year ? String(paper.year) + \"-01-01\" : \"\",\n      source: \"semantic_scholar\",\n      url: \"https://www.semanticscholar.org/paper/\" + paper.paperId}});\n  }\n}\nreturn results;"
        },
        "id": "node-7",
        "name": "Code Node - Parse Semantic Scholar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          416
        ],
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&term=artificial+intelligence&retmax=100&retmode=json",
          "options": {}
        },
        "id": "node-8",
        "name": "HTTP Request - PubMed API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          912,
          608
        ],
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const ids = (item.json.esearchresult || {}).idlist || [];\n  for (const pmid of ids) {\n    results.push({json: {paper_id: \"pubmed_\" + pmid,\n      title: \"\", abstract: \"\", authors: \"\", published_date: \"\",\n      source: \"pubmed\",\n      url: \"https://pubmed.ncbi.nlm.nih.gov/\" + pmid + \"/\", pmid}});\n  }\n}\nreturn results;"
        },
        "id": "node-9",
        "name": "Code Node - Parse PubMed",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          608
        ],
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {},
        "id": "node-10",
        "name": "Merge Node - Combine all sources",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1360,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst seen = new Set();\nconst unique = [];\nfor (const item of items) {\n  const key = item.json.paper_id || (item.json.title || \"\").toLowerCase().trim();\n  if (key && !seen.has(key)) { seen.add(key); unique.push(item); }\n}\nreturn unique;"
        },
        "id": "node-11",
        "name": "Code Node - Deduplicate by ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1584,
          352
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE TABLE IF NOT EXISTS public.research_papers (paper_id TEXT PRIMARY KEY, title TEXT, abstract TEXT, authors TEXT, published_date TEXT, source TEXT, url TEXT, created_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS public.paper_embeddings (paper_id TEXT PRIMARY KEY, embedding TEXT, created_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS public.collection_watermark (id SERIAL PRIMARY KEY, last_run TIMESTAMPTZ, last_paper_id TEXT);\nINSERT INTO public.collection_watermark (last_run, last_paper_id) SELECT NOW(), NULL WHERE NOT EXISTS (SELECT 1 FROM public.collection_watermark);\nINSERT INTO public.research_papers (paper_id, title, abstract, authors, published_date, source, url, created_at) VALUES ($1, $2, $3, $4, $5, $6, $7, NOW()) ON CONFLICT (paper_id) DO NOTHING;",
          "options": {
            "queryReplacement": "={{ [$json.paper_id, $json.title, $json.abstract, $json.authors, $json.published_date, $json.source, $json.url] }}"
          }
        },
        "id": "node-12",
        "name": "PostgreSQL - Upsert ON CONFLICT",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1808,
          352
        ],
        "credentials": {
          "postgres": {
            "id": "YOUR_POSTGRES_CREDENTIAL_ID",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nreturn items.map(item => ({json: {\n  paper_id: item.json.paper_id,\n  title: item.json.title,\n  abstract: item.json.abstract,\n  embed_input: (\"Title: \" + item.json.title + \"\\n\\nAbstract: \" + item.json.abstract).substring(0, 8000)\n}}));"
        },
        "id": "node-13",
        "name": "Code Node - Build Embed payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          256
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.jina.ai/v1/embeddings",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer YOUR_JINA_API_KEY-ZCL3e9R_15V0v8XCJFtLpA"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"model\": \"jina-embeddings-v3\", \"input\": {{ JSON.stringify(Array.isArray($json.embed_input) ? $json.embed_input : [$json.embed_input]) }}, \"dimensions\": 512 }",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        },
        "id": "node-14",
        "name": "HTTP Request - Embed abstracts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2256,
          256
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO public.paper_embeddings (paper_id, embedding, created_at) VALUES ($1, $2, NOW()) ON CONFLICT (paper_id) DO UPDATE SET embedding = EXCLUDED.embedding;",
          "options": {
            "queryReplacement": "=={{ [$('Code Node - Build Embed payload').item.json.paper_id, JSON.stringify($json.data[0].embedding)] }}\n"
          }
        },
        "id": "node-15",
        "name": "PostgreSQL - Store vector embedding",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          2480,
          256
        ],
        "credentials": {
          "postgres": {
            "id": "YOUR_POSTGRES_CREDENTIAL_ID",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE public.collection_watermark SET last_run = NOW(), last_paper_id = $1 WHERE id = 1;",
          "options": {
            "queryReplacement": "={{ [$('Code Node - Deduplicate by ID').last().json.paper_id] }}"
          }
        },
        "id": "node-16",
        "name": "PostgreSQL - Update watermark",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          2032,
          448
        ],
        "credentials": {
          "postgres": {
            "id": "YOUR_POSTGRES_CREDENTIAL_ID",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allPapers = $('Code Node - Deduplicate by ID').all();\nconst count = allPapers.length;\n\nconst topPapers = allPapers.slice(0, 5).map((p, i) => {\n  const title    = (p.json.title    || '(no title)').substring(0, 100);\n  const source   =  p.json.source   || '?';\n  const date     = (p.json.published_date || 'n/a').substring(0, 10);\n  const abstract = (p.json.abstract || '').trim().substring(0, 120);\n  const snippet  = abstract ? abstract + '...' : '';\n  const url      =  p.json.url || '';\n  return `${i+1}. *${title}*\n   ${source} | ${date}\n   ${snippet}\n   ${url}`.trim();\n}).join('\n\n');\n\nconst digest = `Daily Research Digest - ${new Date().toDateString()}\n\nPapers collected: ${count}\n\nTop picks:\n\n${topPapers}\n\nSources: arXiv, Semantic Scholar, PubMed`;\n\nreturn [{json: {count, digest}}];"
        },
        "id": "node-17",
        "name": "Set Node - Build digest message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2704,
          256
        ]
      },
      {
        "parameters": {
          "chatId": "YOUR_TELEGRAM_CHAT_ID",
          "text": "={{ $('Set Node - Build digest message').item.json.digest }}",
          "additionalFields": {}
        },
        "id": "node-18",
        "name": "Telegram - Daily digest notify",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2928,
          256
        ],
        "webhookId": "YOUR_WEBHOOK_ID",
        "credentials": {
          "telegramApi": {
            "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
            "name": "Telegram account 5"
          }
        }
      },
      {
        "parameters": {},
        "id": "node-19",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          240,
          832
        ]
      },
      {
        "parameters": {
          "chatId": "YOUR_TELEGRAM_CHAT_ID",
          "text": "=Research pipeline FAILED!\nWorkflow: {{ $json.workflow.name }}\nError: {{ $json.error.message }}\nNode: {{ $json.error.node }}\nTime: {{ $now }}",
          "additionalFields": {}
        },
        "id": "node-20",
        "name": "Telegram - Error Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          464,
          832
        ],
        "webhookId": "YOUR_WEBHOOK_ID",
        "credentials": {
          "telegramApi": {
            "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
            "name": "Telegram account 5"
          }
        }
      },
      {
        "parameters": {
          "resume": "timeInterval",
          "amount": 4,
          "unit": "seconds"
        },
        "id": "wait-arxiv",
        "name": "Wait - arXiv rate limit",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          800,
          128
        ],
        "webhookId": "arxiv-wait"
      }
    ],
    "connections": {
      "Schedule - Daily 6 AM": {
        "main": [
          [
            {
              "node": "More pages?",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request - Semantic Scholar",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request - PubMed API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "More pages?": {
        "main": [
          [
            {
              "node": "Set - offset +100",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Node - Combine all sources",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - offset +100": {
        "main": [
          [
            {
              "node": "Wait - arXiv rate limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - arXiv API": {
        "main": [
          [
            {
              "node": "Code Node - Parse arXiv",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Node - Parse arXiv": {
        "main": [
          [
            {
              "node": "Merge Node - Combine all sources",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Semantic Scholar": {
        "main": [
          [
            {
              "node": "Code Node - Parse Semantic Scholar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Node - Parse Semantic Scholar": {
        "main": [
          [
            {
              "node": "Merge Node - Combine all sources",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "HTTP Request - PubMed API": {
        "main": [
          [
            {
              "node": "Code Node - Parse PubMed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Node - Parse PubMed": {
        "main": [
          [
            {
              "node": "Merge Node - Combine all sources",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge Node - Combine all sources": {
        "main": [
          [
            {
              "node": "Code Node - Deduplicate by ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Node - Deduplicate by ID": {
        "main": [
          [
            {
              "node": "PostgreSQL - Upsert ON CONFLICT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PostgreSQL - Upsert ON CONFLICT": {
        "main": [
          [
            {
              "node": "Code Node - Build Embed payload",
              "type": "main",
              "index": 0
            },
            {
              "node": "PostgreSQL - Update watermark",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Node - Build Embed payload": {
        "main": [
          [
            {
              "node": "HTTP Request - Embed abstracts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Embed abstracts": {
        "main": [
          [
            {
              "node": "PostgreSQL - Store vector embedding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PostgreSQL - Store vector embedding": {
        "main": [
          [
            {
              "node": "Set Node - Build digest message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Node - Build digest message": {
        "main": [
          [
            {
              "node": "Telegram - Daily digest notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Telegram - Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait - arXiv rate limit": {
        "main": [
          [
            {
              "node": "HTTP Request - arXiv API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "cbnu  aiclab",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-28T00:44:39.509Z",
        "id": 154,
        "workflowId": "YOUR_WF5_WORKFLOW_ID",
        "versionId": "bd0226d6-66fc-41ed-83fc-1e45e467d478",
        "event": "activated",
        "userId": "2c552541-3463-4a88-a82f-9d7a89d1b9d9"
      },
      {
        "createdAt": "2026-03-28T00:44:39.421Z",
        "id": 153,
        "workflowId": "YOUR_WF5_WORKFLOW_ID",
        "versionId": "bd0226d6-66fc-41ed-83fc-1e45e467d478",
        "event": "deactivated",
        "userId": "2c552541-3463-4a88-a82f-9d7a89d1b9d9"
      }
    ]
  }
}